@page "/"
<h1 class="text-center">
    Cultura IT - Code Challenge
</h1>
<p>
    Bienvenidos!
    Estamos buscando desarrolladores .NET para incorporar a nuestro equipo de trabajo. Con el fin de validar tus conocimientos, quién mejor que el código para comprobarlo. Por lo cual te proponemos que nos ayudes a resolver el siguiente problema; por favor tomate un tiempo para pensarlo y resolverlo.
</p>
<hr>
<h2 class="text-center">
    EL ZOOLÓGICO
</h2>
<p>
    Se trata de un zoológico que solo cuenta con determinados animales.
    Cuando un nuevo animal llega al zoológico, se completa una ficha con sus datos: fecha de ingreso, especie, edad, lugar de origen y peso. Para organizar mejor la población, se utiliza la clasificación entre los carnívoros, herbívoros y reptiles porque son los únicos pobladores del zoológico. Esto, además, ayuda a la administración a determinar los kilos de alimentos que se deben comprar.
    <br />
    Para tener un estimado de los kilos de alimentos a comprar, se sabe:
    <br />
    <ul>
        <li>Los carnívoros comen a diario un determinado porcentaje de su peso en carne, que depende exclusivamente de cada uno.</li>
        <li>Los herbívoros comen, por día, 2 veces su peso en hierbas, más un valor fijo (en kilos) que depende, también, de cada animal.</li>
        <li>Los reptiles comen, por semana, un cierto porcentaje de su peso en carne y hierbas. Además éstos poseen un dato que indica cada cuantos días se realiza el cambio de piel. Cuando comienza dicho período, el reptil inicia un proceso de recuperación por lo que durante 3 días no se alimenta.</li>
    </ul>
    <br />
    Se requiere que la aplicación pueda:
    <ul>
        <li>
            Agregar nuevos animales al zoológico.
        </li>
        <li>
            Listar todos los animales con sus datos, y el consumo de comida del corriente mes, considerando los casos variables.
        </li>
        <li>
            Poder conocer el total mensual de kilogramos necesarios de comida (discriminando carnes y hierbas).
        </li>
        <li>
            Advertir cada vez que se ingresa un animal la posibilidad de que se excedan los 1500 kilos de comida del corriente mes, incluyendo ambos tipos de alimentos.
        </li>
    </ul>
    <br />
    NOTAS:
    Dentro del proyecto encontrarás una serie de tests unitarios (NUnit test) que describen el comportamiento del cálculo. Actualmente, tenemos los cálculos correspondientes pero no coinciden, necesitamos que lo soluciones. Además es necesario agregar nuevos test para validar las nuevas funcionalidades implementadas.
</p>
@code {

}
